In [1]:
import pandas as pd

In [2]:
it_job = pd.read_csv(r'it_job_preprocess\clean_it_job.csv')
it_viec = pd.read_csv(r'it_viec_preprocess\clean_it_viec.csv')
topcv = pd.read_csv(r'top_cv_preprocess\clean_topcv.csv')
topdev = pd.read_csv(r'topdev_preprocess\clean_topdev.csv')
vn_work = pd.read_csv(r'vietnam_work_preprocess\clean_vn_work.csv')

In [3]:
it_job.columns

Index(['title', 'company', 'requirement', 'salary', 'technical_skill',
       'location', 'working_time', 'image_url', 'job_url'],
      dtype='object')

In [4]:
# it_job = it_job.drop(it_job.columns[0], axis=1)

In [5]:
it_job.columns

Index(['title', 'company', 'requirement', 'salary', 'technical_skill',
       'location', 'working_time', 'image_url', 'job_url'],
      dtype='object')

In [6]:
it_viec.columns

Index(['title', 'company', 'requirement', 'salary', 'technical_skill',
       'location', 'working_time', 'image_url', 'job_url'],
      dtype='object')

In [7]:
topcv.columns

Index(['title', 'company', 'requirement', 'salary', 'technical_skill',
       'location', 'working_time', 'image_url', 'job_url'],
      dtype='object')

In [8]:
topdev.columns

Index(['title', 'company', 'requirement', 'salary', 'technical_skill',
       'location', 'working_time', 'image_url', 'job_url'],
      dtype='object')

In [9]:
vn_work.columns

Index(['title', 'company', 'requirement', 'salary', 'technical_skill',
       'location', 'working_time', 'image_url', 'job_url'],
      dtype='object')

In [10]:
node_flair = pd.read_csv(r'nodeflair_preprocess\clean_nodeflair.csv')

In [11]:
final_data = pd.concat([it_job, it_viec, topcv, topdev, vn_work, node_flair], ignore_index=True)

In [12]:
final_data.to_csv('final_data.csv', index = False)

In [13]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6891 entries, 0 to 6890
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            6891 non-null   object
 1   company          6891 non-null   object
 2   requirement      5437 non-null   object
 3   salary           6891 non-null   object
 4   technical_skill  6891 non-null   object
 5   location         6891 non-null   object
 6   working_time     6891 non-null   object
 7   image_url        6891 non-null   object
 8   job_url          6891 non-null   object
dtypes: object(9)
memory usage: 484.6+ KB

In [14]:
final_data.drop_duplicates(subset=['company', 'technical_skill'], keep='first', inplace=True)

In [15]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4506 entries, 0 to 6890
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            4506 non-null   object
 1   company          4506 non-null   object
 2   requirement      3448 non-null   object
 3   salary           4506 non-null   object
 4   technical_skill  4506 non-null   object
 5   location         4506 non-null   object
 6   working_time     4506 non-null   object
 7   image_url        4506 non-null   object
 8   job_url          4506 non-null   object
dtypes: object(9)
memory usage: 352.0+ KB